<div class="flex-1 scroll-y" ng-controller="LoginCtrl"  >
    <div class="register-form-main" ng-controller="BankFormCtrl">
        <div class="flex-row form-field">
            <div class="label">姓名</div>
            <div class="value flex-row">
                <input class="flex-1" type="text" ng-model="bankFormMessage.name">
            </div>
        </div>
        <div class="flex-row form-field">
            <div class="label">银行卡</div>
            <div class="value flex-row">
                <select class="flex-1"  ng-model="selectedBank"  ng-options="m.name for m in bankType">
                </select>
            </div>
        </div>
        <div class="flex-row form-field">
            <div class="label">卡号</div>
            <div class="flex-row value">
                <input class="flex-1" type="text" maxlength="19"  ng-model="bankFormMessage.bank_card">
            </div>
        </div>
        <div style="height: 20px;color:red;font-size: 12px;" >
            {{error_message}}
        </div>
        <div class="flex-row form-field justify-content-center" >
            <button ng-click="submit()">提交</button>
        </div>
    </div>
</div>