<div class="flex-1 flex-column" ng-controller="LoginCtrl">
    <div class="income-main flex-1 flex-column" ng-controller="IncomeDetailCtrl">
        <div style="color:#ff9837;text-align: center;height: 30px;font-size: 20px;margin: 5px 0;">{{stat_date}}</div>
        <div class="income-table flex-1 flex-column">
            <div class="table-head flex-row">
                <div class="flex-1" ng-repeat="item in label">{{item}}</div>
            </div>
            <div class="scroll-y flex-1">
                <div class="table-body flex-row" ng-repeat="item in incomeDetail">
                    <div class="flex-1" >{{item.from_game_user_id}}</div>
                    <div class="flex-1" >{{item.from_game_user_nickname}}</div>
                    <div class="flex-1" >{{item.income}}</div>
                    <div class="flex-1" >{{item.from_type_name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>