@import "bourbon/bourbon";
$themeGreen: #15c84e;
$themeFontColor:#4b4b4b;


.flex-row {
  @include display(flex);
  @include flex-direction(row);
}
.flex-column {
  @include display(flex);
  @include flex-direction(column);
}
// flex layout make align center horizontal
.justify-content-center {
  justify-content:center;
  display: flex;
}
// flex layout make align center vertical
.align-content-center{
    align-items:center;
    display: flex;
}
.content-center{
    @extend .justify-content-center;
    @extend .align-content-center;
}
@for $i from 1 to 10 {
  .flex-#{$i} {
    @include flex($i);
  }
}
.scroll-y{
    overflow-y: scroll;
    overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
.text-overflow {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

body{
  font-size: 16px;
  font-weight: normal;
  color:$themeFontColor;
  background: #f2f2f2;
  overflow: hidden;
  padding: 0;
  margin: 0;
  >div#app{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      @extend .flex-column;
  }
}

.download-main{
  //background-color:#f3ebad;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  //background-color:rgba(96,87,66,0.5); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
  //filter:Alpha(opacity=50);
  background:radial-gradient(circle,#faf9c1,#f3d7a8);
  //background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f3d7a8), to(#faf9c1));/*谷歌*/
  .download-btn{
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
    background: $themeGreen;
    color:white;
    font-size: 25px;
    text-align: center;
    border-radius: 3px;
    a,a:hover,a:active,a:visited,a:focus{
      text-decoration: none;
      color: white;
    }
  }
  .profile-info{
    background: #4b4a59;width: 100%;height: 200px;margin-bottom: 20px;
  }
}
.register-form-main{
  padding: 20px;
  margin-top: 20px;
  background: white;
  .form-field{
    height: 30px;
    margin:10px 0;
    .label{
      width: 80px;
      line-height: 30px;
      padding-right: 10px;
    }
    .value{
      @extend .flex-1;
      border-bottom: 1px solid grey;
    }
    input,select{
      border:0;
      background: transparent;
      font-size: 16px;
      &:focus{
        outline-offset:0;
        outline:none;
      }
    }
    button{
      width: 200px;
      text-align: center;
      background: $themeGreen;
      border:0;
      border-radius: 3px;
      font-size: 18px;
      color:white;
      &:focus{
        outline: none;
      }
    }
  }
  .user-type{
    input{
      &:checked + span {
           i{
             display: inline-block;
           }
      }
      & + span {
        margin-top: 3px;
        margin-right: 5px;
        width: 15px;height: 15px;border: 1px solid black;
        border-radius: 50%;
        @extend .content-center;
        i{
          display: none;
          width: 8px;height: 8px;background: #008000;
          border-radius: 50%;
        }
        }
    }
  }
}
.register-show-main{
  margin-top: 30px;
  background: white;
  .form-field{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid grey;
    .label{
      width: 80px;
      padding-left: 10px;
    }
    .value{
      text-align: right;
      padding-right: 10px;
      @extend .flex-1;
    }
    &:nth-last-child(1){
      border:0
    }
  }
}
.income-main{
  .balance{
    position: relative;
    background: #4b4a59;
    height: 150px;
    min-height: 150px;
    color:white;
    span{
      font-size: 35px;
    }
    .btn{
      position: absolute;
      bottom: 15px;right: 15px;
      color: #f33042;
    }
  }
  .searchBox{
    height: 30px;
    padding: 0 10px;
    margin: 10px 0;
    input{
      font-size: 16px;
      &:focus{
        outline: none;
      }
    }
  }
  .income-table{
    background: white;
    .tab-main{
      font-size: 17px;
      height: 40px;
      min-height: 40px;
      line-height: 40px;
      .tab-panel{
        text-align: center;
        &.active{
          color:#ff9837;
          border-bottom:2px solid #ff9837;
        }
      }
    }
    .table-head,.table-body{
      text-align: center;
      height: 35px;
      line-height: 35px;
      margin: 3px 0;
      font-size: 14px;
      img{
        width: 35px;height: 35px;border-radius: 50%;
      }
    }
    .table-head{
      color:$themeGreen;
      background: white;
      height: 30px;
      min-height: 30px;
      line-height: 30px;
    }
    .agent-user-income-record,.agent-related-user{
      .table-head , .table-body{
        div:nth-child(5){
          min-width:150px;
        }
        div:nth-child(4){
          min-width:60px;
        }
      }
    }
    .agent-cash-record{
      .table-head , .table-body{
        div:nth-child(2){
          min-width:150px;
        }
      }
    }
  }
}
.group-master-main{
  background:radial-gradient(circle,#faf9c1,#f3d7a8);
  margin-top: 0;
  $light: #fff;
  $main-green:#15c84e;
  .profile{
    background: #4b4a59;height: 200px;
    border-top:1px solid #414141;
    $profileImageSize:80px;
    .profile-image{
      position: relative;
      img{
        width:$profileImageSize;
        height: $profileImageSize;
        border-radius: $profileImageSize;
      }
    }
    .profile-text-1{
      padding-top: 5px;
      font-size:16px;
      color: $main-green;
    }
    .profile-text-2{
      font-size: 14px;
      color:$light;
      padding: 10px 0;
    }
  }
  .link-list{
    background:$light;
    height: 40px;
    margin:10px 0;
    font-size: 16px;
    padding: 0px 5px;
    box-sizing: border-box;
    .label{
      width: 100px;
      height: 40px;
      line-height: 40px;
    }
    .value{
      height: 40px;
      line-height: 40px;
      text-align: right;
      @extend .flex-1;
    }
  }
}

.table-list-container{
  height: 120px;font-size: 14px;border-bottom: 1px solid grey;
  .table-left-container{
    width: 100px;height: 120px;color: red;
    .text{
      height: 40px;line-height: 60px;text-align: center;color: green;
    }
    .img{
      height: 80px;height: 80px;
      >div{
        width: 60px;height: 60px;border-radius: 60px;border: 1px solid green;
      }
    }
  }
  .table-right-container{
    font-size: 11px;padding: 10px 0;
    .order{
      color: orange;
    }
  }
}