<div class="flex-1 flex-column" ng-controller="LoginCtrl">
    <div class="group-master-main flex-1"  ng-controller="GroupMasterCtrl">
        <div class="flex-row" style="height: 50px;">
            <div class="flex-1"  style="text-align: right;height: 50px;font-size: 14px;line-height:50px;color:red;padding-right: 10px;">
                请点击右上角分享到朋友圈或者微信好友
            </div>
            <img src="http://image.cdn.gfgood.com/market/down/arrow.png" style="width: 24px;height: 24px;margin-top: 5px;padding-right: 15px;" alt="">
        </div>
        <div class="content-center profile">
            <div>
                <div class="profile-image justify-content-center">
                    <img  src="{{groupMasterInfo.avatar}}"  alt="">
                </div>
                <div class="justify-content-center profile-text-1">
                    {{groupMasterInfo.name}}
                </div>
                <div class="justify-content-center profile-text-2">
                    游戏ID：{{groupMasterInfo.gameUserId}}
                </div>
            </div>
        </div>
        <div class="content-center" style="margin-top: 50px;" ng-show="qrCodeUrl">
            <img src="http://qr.topscan.com/api.php?text={{qrCodeUrl}}"  style="width: 150px;height: 150px;"/>
        </div>
    </div>
</div>