<div class="flex-1 scroll-y" ng-controller="LoginCtrl">
    <div class="register-show-main"  ng-controller="RegisterShowCtrl">
        <div class="flex-row form-field"> 
            <div class="label">{{label.status_label}}</div>
            <div class="value">{{registerMessage.status_name}}</div>
        </div>
        <div class="flex-row form-field"> 
            <div class="label">{{label.agent_label}}</div>
            <div class="value">{{registerMessage.agent_level_name}}</div>
        </div>
        <div class="flex-row form-field"> 
            <div class="label">{{label.phone_number_label}}</div>
            <div class="value">{{registerMessage.phone_number}}</div>
        </div>
        <div class="flex-row form-field"> 
            <div class="label">{{label.name_label}}</div>
            <div class="value">{{registerMessage.name}}</div>
        </div>
        <div class="flex-row form-field">
            <div class="label">{{label.bank_label}}</div>
            <div class="value">{{registerMessage.bank_name}}</div>
        </div>
        <div class="flex-row form-field">
            <div class="label">{{label.bank_card_label}}</div>
            <div class="value">{{registerMessage.bank_card}}</div>
        </div>
    </div>
</div>