<div class="flex-1 scroll-y" ng-controller="LoginCtrl"  >
    <div class="register-form-main" ng-controller="CarryCtrl">
        <div class="flex-row form-field">
            <div class="label">金额</div>
            <div class="value flex-row">
                <input class="flex-1"  placeholder="{{usable_cash_message}}" type="number" ng-model="carryMessage.cash_money">
            </div>
        </div>
        <div style="height: 20px;color:red;font-size: 12px;">
            {{error_message}}
        </div>
        <div class="flex-row form-field justify-content-center" >
            <button ng-click="submit()">提现</button>
        </div>
        <span style="display: block;font-size: 12px;text-align: center;width: 100%">款项3日内到账</span>
    </div>
</div>